//  Start header-Varpols              :   Navbar
$font-size-A-navbar: 19px;
$font-whigt-A-navbar: 600;
 
$Color-A-navbar: #fff;

$padding-A-navbar:1.5em 1em;

$padding-A-navbar:1.5em 1em;
$text-transform-A-navbar:uppercase;
$font-family-A-navbar:'Noto Sans JP', sans-serif;


 


//  End header-Varpols              :   Navbar


//  Start header-Varpols              :   Navbar
$font-size-h1-navbar: 35px;
$font-whigt-h1-navbar: 800;
$text-transform-h1-navbar:uppercase;

//  End header-Varpols              :   Navbar